<!-- templates/email/new_episode.html.inky -->

<container>
<row>
    <columns>
        <h1>Nouvel Épisode Disponible</h1>
        <p>"Un nouvel épisode passionnant vient d'être publié. Ne le manquez pas !"</p>
        <callout class="primary">
    <a href="{{ path('app_episode_show', {'slugy': episode.slug}) }}">Voir l'épisode</a>
        </callout>
    </columns>
</row>

<spacer size="16"></spacer>

<row>
    <columns>
        <p>Retrouvez d'autres épisodes passionnants et découvrez plus sur notre plateforme.</p>
        <callout class="secondary">
            <a href="{{  path('app_episode_index') }}">Visitez notre site</a>
        </callout>
    </columns>
</row>
</container>