<!-- templates/email/new_episode.html.inky -->

<container>
<row>
    <columns>
        <h1>Nouvel Épisode {{ episode.title }} Disponible</h1>
        <p>{{ episode.synopsis }}</p>
        
    </columns>
</row>

<spacer size="16"></spacer>

<row>
    <columns>
        <p>Retrouvez d'autres épisodes passionnants et découvrez plus sur notre plateforme.</p>
        <callout class="secondary">
            <a href="{{  url('app_index') }}">Visitez notre site</a>
        </callout>
    </columns>
</row>
</container>