<form method="post" action="{{ path('program_delete_comment', {'slug': program.slug, 'season_id': season.id,'slugy': episode.slug, 'comment_id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>