{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="{{ asset('images/duck.png') }}" class="card-img-top img-fluid" alt="Ducky Image">
                <div class="card-body">
                    <h2 class="card-title text-center">Bienvenue sur {{ website }}</h2>
                    <p class="card-text text-center">DUCKY{{ component('ProgramSearch') }}</p>
                    
                    <div class="text-center">
                        <a href="{{ path('program_index') }}" class="btn btn-outline-dark">Voir les séries</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}